body{
	background-color:#9bd7d5;
	display:flex;
	justify-content:center;
}

main{
	border:2px solid #eedce1;
	text-align:center;
	border-radius:20px;
}

h1{
	color:brown;
	font-size:40px;
	font-family:'Times';
	
}

#popup > h2{
	color:brown;
	font-size:60px;
	font-family:'Times';
	justify-content:center;
	line-height:300px;
}
#board{
	display:grid;
	width:600px;
	height:600px;
	grid-template:1fr 1fr 1fr / 1fr 1fr 1fr;
	grid-gap:10px;
	background-color:#617f9d;
	border: 20px solid #617f9d;
}

#board > input{
	background-color:#129793;
	border-radius:20px;
	border:none;
	font-size:100px;
	
}

#board > input:hover{
	background-color:#2b374b;
}

button{
	margin:30px;
	padding:20px;
	font-size:20px;
	background-color:#96abff;
	justify-content:center;
	border-radius:20px;
	color:brown;
	font-family:'Times';
	border-color:#FF8C00;
}

#container{
	width:100%;
	height:100%;
	position:absolute;
	background-color:rgba(0,0,0,0.8);
	display:none;
	justify-content:center;
	align-items:center;
}

#popup{
	width:450px;
	height:400px;
	background-color:#FFF8DC;
	border-radius:20px;
	text-align:center;
	position:relative;
	padding:2px;
}

#cat{
	width:85%;
}

#x{
	width:40px;
	position:absolute;
	top:30px;
	right:5px;
}
